table {
    border: 0 solid;
    border-spacing: 0
}
td, th {
    border: 1px solid white;
    padding: 1rem;
    text-align: center
}

th {
    background-color: aqua
}

td {
    color: white
}

table.destinos td:after {
    content: " %"
}

tr:nth-child(even) td {
    background-color:bisque;
    color: black
}

tr:nth-child(odd) {
    background-color:brown
}
