body {
    padding: 0;
    margin: 0
}

h1, h2 {
    font-family:fantasy;
    text-transform: lowercase
}

h1 {
    font-size: 4em;
    color: blueviolet;
    text-align: center;
    text-decoration:underline
}

h2 {
    font-size: 2em;
    color:aqua
}

div {
    background-color: antiquewhite;
    padding: 8px
}

div .foto {
    margin: 0;
    padding: 0
}

img {
    border-radius: 40px 0;
    box-shadow: 2px 2px 5px #999;
    border: 4px solid blueviolet
}