.boton {
    width: 10rem;
    border: 1px solid;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center
}

div.boton:hover {
    background-color:aquamarine;
    color: aliceblue
}

section.parte1 p::first-letter {
    font-size: 2rem;
    font-weight: bold
}
section.parte1 p::first-line {
    font-size: 1.5rem;
    color: blue
}

section.parte1 blockquote::before {
    content:url("../favicon.ico") "Ejemplo: " open-quote 
}

section.parte1 blockquote::after {
    content: close-quote
}

section.parte2 :nth-child(2) {
    color: brown
}

section.parte2 p:nth-last-of-type(3) {
    color:aqua
}