body {
    background-color: antiquewhite;
    margin: 0;
}

main {
    padding: 30px
}

.copy {
    font-size: 9px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    background-color: steelblue;
    padding: 10px 0 5px 0
}

h1 {
    text-align: center
}

nav {
    background-color: cadetblue;
    height: 30px;
}

ul {
    list-style: none;
    text-align: center
}

ul li { 
    display: inline;
    margin: 0 30px;
    line-height: 30px
}

ul li a {
    text-decoration: none;
    color: white
}

img {
    border-radius: 8px;
    border: 4px solid coral;
    box-shadow: 0 0 4px black;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.cabecera {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none !important;
    box-shadow: none !important;
    margin-top: 10px
}