body {
    padding: 0;
    margin: 0;
}
p {
    padding: 1rem;
    margin: 1rem;
    width: 40%;
    border: 0.08rem solid;
    background-color: bisque;
}

span {
    background-color: chocolate;
    margin: 1rem;
    padding: 0.5rem
}

div p {
    width: 30%;
    height: 5rem;
    overflow: auto;
}